


.header{
    background-color: white;
    top: 0;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
}

body{
    background-color: #f0f0f0;
}


.nav_item{
    display: inline-block;
    margin-right: 50px;
    line-height: 60px;
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.nav_item a{
    text-decoration: none;
    color: black;
}

.logout-button{
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
}
